 # Ignore everything in the root except the "wp-content" directory.
/*
!.gitignore
!wp-content/
!scripts/
!README.md
 
# Ignore everything in the "wp-content" directory, except the "plugins" and "themes" directories.
wp-content/*
!wp-content/plugins/
!wp-content/themes/
 
# Ignore everything in the "plugins" directory, except the plugins you specify
wp-content/plugins/*
wp-content/plugins/*
wp-content/plugins/*
!wp-content/plugins/app-release/
wp-content/plugins/app-release/releases/*
 
# Ignore everything in the "themes" directory, except the themes you specify
wp-content/themes/*
!wp-content/themes/dw-focus/

# Mac and Git files
.DS_Store
.modgit/
.idea

